@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

body {margin:0;
  font-family: 'Roboto Mono', monospace;
  background-color: lightgrey;
}

.mnavbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.mnavbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.mnavbar a:hover {
  background: #ddd;
  color: black;
}

.mnavbar a.active {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.centralize{
width: 80%;
margin-left: auto;
margin-right: auto;
}

/* Form */

a {

 text-decoration: none;

}

.container1 ,.container2 {
  /* 
  -Remember, margin: auto on left and right will center a block element 
  -I would also set a "max-width" for responsiveness
  -May want to add some padding
  */
  margin-top: 60px;
  margin-left: 30px auto;
  max-width: 400px;
  padding: 20px;
  float: left;
}

.form-wrap {
  /* 
    This is the white area around the form and heading, etc
  */
 background: white;
 padding: 15px 40px;
 color: #333;
  
}

.form-wrap h1,
.form-wrap p {
  /* 
    May want to center these
  */
  text-align: center;
}

.form-wrap .form-group {
  /* 
    Each label, input is wrapped in .form-group
  */
  margin-top: 15px;
}

.form-wrap .form-group label {
  /* 
    Label should be turned into a block element
  */
  display: block;
  color: #666;
}

.form-wrap .form-group input ,#position,select {
  /* 
    Inputs should reach accross the .form-wrap 100% and have some padding
  */
  width: 100%;
  padding: 10px;
  border: #ddd solid 1px;
  border-radius: 5px;
}

.form-wrap button {
  /* 
    Button should wrap accross 100% and display as block
    Background color for button is #49c1a2
  */
  display: block;
  width: 100%;
  background-color:black ;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  border-radius: 6px;
}

.form-wrap button:hover {
  /* 
    Hover background color for button is #37a08e
  */
  background-color:grey ;
}

/* Image with butoon */
.card{
  float: left;
  margin-top: 80px;
  margin-left: 25px;
  z-index: -1;
}

.error{

  background-color: black;
  color: red;

}

.container4{
  margin: 80px 20px;
  padding: 20px;
  background-color: #333;
  max-width: 30%;
  color: white;
  border-radius:5px ;
  text-align: center;
  float: left;
}
.verification p{
width: 100%;
color: white;

}

.logout {
  background-color: red;
  color: white;
  padding: 10px;
  margin:20px;
  border-radius: 5px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.logout :hover {
  background-color:white;
  color: #777777;
}